@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-white: #FFFFFF;
  --color-black: #0D0D0D;
  --background-grey: #242424;
  --primary-green: #00B073;
  --secondary-green: #6bb69a;
  --color-blue: #005EA6;
  --background-black: #0D0D0D;
  --color-gold: #CCCC46
}


body {
  background: var(--background-black);
  color: var(--color-white);
}

.error {
  color: white;
  text-align: center;
}

h3 {
  font-size: larger;
  font-weight: 800;
}

.card-base {
  font-weight: 500;
  background: var(--background-grey);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border-top: 1px solid var(--secondary-green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
      margin-bottom: 20px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


