@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-white: #FFFFFF;
  --color-black: #0D0D0D;
  --background-grey: #242424;
  --primary-green: #00B073;
  --secondary-green: #6bb69a;
  --color-blue: #005EA6;
  --background-black: #0D0D0D;
  --color-gold: #CCCC46
}


body {
  background: var(--background-black);
}

.error {
  color: white;
  text-align: center;
}

.grey-emoji {
  filter: grayscale(90%);
}


