.card {
    margin: 0 20px;
    font-weight: 500;
    background: var(--background-grey);
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    color: white;
    border-top: 1px solid var(--secondary-green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
        
    };
}

.innerCard {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    display: grid;
    grid-gap: 20px; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media screen and (max-width: 768px) {
        margin-top: 20px;
        display: block;
        width: auto;
    };

}