.container {
    max-width: 1200px;
    display: grid;
    grid-gap: 20px; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media screen and (max-width: 768px) {
        margin-top: 20px;
        display: block;
        width: auto;
    };

}